<%- include('components/header.ejs'); -%>

<main>
  <ul>
    <li><button class="btn expression" data-expression="wakup">wakup</button></li>
  </ul>

  <ul>
    <li><button class="btn mouth" data-mouth="joy">joy</button></li>
    <li><button class="btn mouth" data-mouth="sad">sad</button></li>
    <li><button class="btn mouth" data-mouth="kiss">kiss</button></li>
    <li><button class="btn mouth" data-mouth="smille-left">smille-left</button></li>
    <li><button class="btn mouth" data-mouth="smille-right">smille-right</button></li>
    <li><button class="btn mouth" data-mouth="zig">zig</button></li>
    <li><button class="btn mouth" data-mouth="zag">zag</button></li>
    <li><button class="btn mouth" data-mouth="shut">shut</button></li>
  </ul>

  <ul>
    <li><button class="btn eye" data-eye="left">left</button></li>
    <li><button class="btn eye" data-eye="left-med">left-med</button></li>
    <li><button class="btn eye" data-eye="right">right</button></li>
    <li><button class="btn eye" data-eye="right-med">right-med</button></li>
    <li><button class="btn eye" data-eye="med">med</button></li>
    <li><button class="btn eye" data-eye="shut">shut</button></li>
    <li><button class="btn eye" data-eye="open">open</button></li>
  </ul>
</main>

<%- include('components/footer.ejs'); -%>